In [57]:
import os
import pandas as pd
from sklearn.metrics.pairwise import linear_kernel
import random

df = pd.read_csv(os.getcwd() + '/rec.csv')
df = df.drop(columns=['user id'])
df2 = df.drop(columns=['Activity id','Rating'])

s=0
c=-.5
h=0
e=.6
f=.4
column_list = ["Stress", "Chaotic", "Happiness", "Energy", "Focus"]
l = pd.DataFrame([[s, c, h, e, f]], columns=column_list)
cosine_sim = linear_kernel(l, df2)

def get_recommendations(l, cosine_sim=cosine_sim):
    df = pd.read_csv(os.getcwd() + '/rec.csv')
    # Get the pairwsie similarity scores of all state with that state
    sim_scores = list(enumerate(cosine_sim[0]))
      
    # Sort the state based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  
    # Get the scores of the 10 most similar states
    sim_scores = sim_scores[1:21]

    # Get the state indices
    ac_indices = [i[0] for i in sim_scores]
    
    # Return the top 10 most similar state
    #return df['Activity id'].iloc[ac_indices]
    
    #Considering feedback, if rating is no more than 3, there is 90% probability that the activity will not be shown.
    m=0 #index of ac_indices used in pop function
    ac_indices2 = ac_indices.copy()
    for i in ac_indices2: 
        print(i)
        if df['Rating'][i] <= 3:
            k = random.random()            
            print(k)
            if k >= 0.5:                
                ac_indices.pop(m)
                m -= 1                
        m += 1
        
    #Preventing showing the same activity id 
    list2=[]
    for i in ac_indices:
        list2.append(i)
        if len(list2) > 1:
            if len(list2) > 3:
                break
            for j in range(len(list2)-1):
                if df['Activity id'][list2[j]] == df['Activity id'][i]:
                    list2.pop(-1)
                    break
                    
    return list2

#rec = get_recommendations(l)
#rec

ac_indices = get_recommendations(l)
for i in range(0,3,1):
    print(df['Activity id'][ac_indices[i]])

def accept(Activity_id):
    df = pd.read_csv(os.getcwd() + '/rec.csv')
    list1 = df['Activity id']
    for i in range(len(list1)):
        if list1[i] == Activity_id and df['Rating'][i]<5:
            df['Rating'][i] += 1
    df.to_csv(os.getcwd() + '/rec' + '.csv', index=False)
    return

def deny(Activity_id):
    df = pd.read_csv(os.getcwd() + '/rec.csv')
    list1 = df['Activity id']
    for i in range(len(list1)):
        if list1[i] == Activity_id and df['Rating'][i]>0:
            df['Rating'][i] -= 1
    df.to_csv(os.getcwd() + '/rec' + '.csv', index=False)
    return
    
def skip():
    #Disable accept, deny and skip button
    #b1 = tk.Button(root, text="Skip", command=skip, state="DISABLED")
    #or b1["state"] = "DISABLED"
    return

5
0.9661784232468424
6
0.1638923220155729
10
0.639398449664532
43
45
49
25
16
21
47
48
7
12
17
20
29
30
32
34
35
Popping off
Read novel
Yoga
Read book

In [9]:
df

    Stress  Chaotic  Happiness  Energy  Focus  Activity id  Rating
0        1        0         -1       0     -1   Hot shower       5
1        0        1          1      -1     -1  Cold shower       5
2        1        1         -1      -1     -1         Rest       5
3        1        1         -1       1      0      Jogging       5
4        1       -1          0       1      1         Yoga       5
5        1       -1         -1       1      1     Meditate       3
6        0       -1         -1       1      1   Read novel       3
7       -1        1         -1       1      1   Video game       5
8        1        1         -1       1     -1     Shopping       5
9        1        1         -1       1      0     Swimming       5
10      -1       -1          1       1      1    Read book       3
11       1        1         -1      -1     -1   Calm music       5
12       1        1          1       1      1   Rock music       5
13       1        1         -1      -1      0   Hot shower       5
14       1        1         -1       0      0  Cold shower       5
15       1        1          0      -1     -1         Rest       5
16       1        0          0       1      0      Jogging       5
17       1        1          0       1      1         Yoga       5
18       1        1          0       0     -1     Meditate       5
19       1        0          0       0      1   Read novel       5
20       1        1         -1       1      1   Video game       5
21       1        0         -1       1      0     Shopping       5
22       1        1         -1       1     -1     Swimming       5
23       1        0          0       0      1    Read book       5
24       1        1         -1       0     -1   Calm music       5
25      -1       -1          0       0      1   Rock music       5
26       1        1          0      -1      0   Hot shower       5
27       0        0          1      -1     -1  Cold shower       5
28       1        1         -1      -1     -1         Rest       5
29       1        1         -1       1      1      Jogging       5
30       1        1          0       1      1         Yoga       5
31       1        1          0      -1      1     Meditate       5
32       1        1         -1       1      1   Read novel       5
33       1        1         -1       0      1   Video game       5
34       1        1         -1       1      1     Shopping       5
35       1        1         -1       1      1     Swimming       5
36       1        1         -1       0     -1    Read book       5
37       1        1          0       0      0   Calm music       5
38       1        1         -1       1      0   Rock music       5
39       1        1         -1      -1     -1   Hot shower       5
40       1        1         -1      -1     -1  Cold shower       5
41       1        0         -1      -1     -1         Rest       5
42       0        0          0       1     -1      Jogging       5
43       0        0          0       1      1         Yoga       5
44       1        1          0       0      1     Meditate       5
45      -1        0         -1       1      1   Read novel       5
46       0        0         -1       0      1   Video game       5
47       1        0         -1       1      0     Shopping       5
48       0        0          0       1      0     Swimming       5
49       0        0          0       1      1    Read book       5
50       1        0          0       0      0   Calm music       5
51       0        0         -1       0      0   Rock music       5

In [3]:
df2.head()

   Stress  Chaotic  Happiness  Energy  Focus  Rating
0       1        0         -1       0     -1       5
1       0        1          1      -1     -1       5
2       1        1         -1      -1     -1       5
3       1        1         -1       1      0       5
4       1       -1          0       1      1       5

In [4]:
l

   Stress  Chaotic  Happiness  Energy  Focus  Rating
0       0     -0.5          0     0.6    0.4       5

In [58]:
ac_indices

[6, 43, 49, 25]

In [6]:
random.random()

0.3474753881561551