In [1]:
import os
import pandas as pd
from sklearn.metrics.pairwise import linear_kernel

df = pd.read_csv(os.getcwd() + '/rec.csv')
df = df.drop(columns=['user id'])
df2 = df.drop(columns=['Activity id'])

s=0
c=-.5
h=0
e=.6
f=.4
column_list = ["Stress", "Chaotic", "Happiness", "Energy", "Focus", "Rating"]
l = pd.DataFrame([[s, c, h, e, f, 5]], columns=column_list)
cosine_sim = linear_kernel(l, df2)

def get_recommendations(l, cosine_sim=cosine_sim):
    # Get the pairwsie similarity scores of all state with that state
    sim_scores = list(enumerate(cosine_sim[0]))
      
    # Sort the state based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  
    # Get the scores of the 10 most similar states
    sim_scores = sim_scores[1:11]

    # Get the state indices
    ac_indices = [i[0] for i in sim_scores]
    #print(ac_indices[0])
    # Return the top 10 most similar state
    #return df['Activity id'].iloc[ac_indices]
    return ac_indices

#rec = get_recommendations(l)
#rec

ac_indices = get_recommendations(l)
for i in range(0,3,1):
    print(df['Activity id'][ac_indices[i]])

Meditate
Read novel
Read book

In [3]:
df

    Stress  Chaotic  Happiness  Energy  Focus  Activity id  Rating
0        1        0         -1       0     -1   Hot shower       5
1        0        1          1      -1     -1  Cold shower       5
2        1        1         -1      -1     -1         Rest       5
3        1        1         -1       1      0      Jogging       5
4        1       -1          0       1      1         Yoga       5
5        1       -1         -1       1      1     Meditate       5
6        0       -1         -1       1      1   Read novel       5
7       -1        1         -1       1      1   Video game       5
8        1        1         -1       1     -1     Shopping       5
9        1        1         -1       1      0     Swimming       5
10      -1       -1          1       1      1    Read book       5
11       1        1         -1      -1     -1   Calm music       5
12       1        1          1       1      1   Rock music       5

In [43]:
df2.head()

   Stress  Chaotic  Happiness  Energy  Focus  Rating
0       1        0         -1       0     -1       5
1       0        1          1      -1     -1       5
2       1        1         -1      -1     -1       5
3       1        1         -1       1      0       5
4       1       -1          0       1      1       5

In [14]:
rec[0]

'Hot shower'

In [38]:
rec.head(2)

5      Meditate
6    Read novel
Name: Activity id, dtype: object

In [30]:
rec1 = rec.head(1)
rec1 = rec1.reset_index()
rec1 = rec1.drop(columns=['index'])
rec1["Activity id"][0]

'Meditate'

In [3]:
l

   Stress  Chaotic  Happiness  Energy  Focus  Rating
0       0     -0.5          0     0.6    0.4       5

In [2]:
ac_indices

[5, 6, 10, 7, 12, 3, 9, 8, 0, 1]